<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- 只输出到控制台 -->
		<target xsi:type="Console" name="logconsole" layout="${longdate} [${level}] ${message} ${exception:format=ToString}" />
	</targets>

	<rules>
		<!-- 所有日志输出到控制台，最低级别 Info -->
		<logger name="*" minlevel="Info" writeTo="logconsole" />
	</rules>
</nlog>
